<h1>Home#about</h1>
<p>Find me in app/views/home/about.html.erb</p>

puts "enter some text"
    text = gets.chomp
    words = text.split(" ")
    frequencies = Hash.new(0)
    words.each { |word| frequencies[word.downcase] += 1 }
    frequencies = frequencies.sort_by {|a, b| b}
    frequencies.reverse!
    frequencies.each do |word, frequency|
        puts word + " " + frequency.to_s 
end